*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    margin-bottom: 10xp;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items:center;
}
#count{
    height: 50px;
    width: 20%;
    background-color: blue;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    
}